@import "~vars/pads";
@import "~vars/screen";
@import "~vars/fonts";

.container {
    padding-top: $pad10;
    padding-bottom: $pad10;
}

.main {
    margin-top: $pad10;
    margin-bottom: $pad10;

    h2 {
        margin-bottom: $pad12;
    }
}

@media all and (max-width: $screen_md) {
    .contacts {
        padding-top: $pad16;
    }
}

@media all and (max-width: $screen_sm) {
    .main {
        margin: 0 auto;

        h2 {
            margin-bottom: $pad8;
        }
    }
}
