@import '~vars/pads';
@import '~vars/colors';
@import '~vars/fonts';

.container {
    margin: 0 auto;
    padding: $pad10;

    h2,
    h3 {
        color: #91b2b4;
    }

    h2 {
        font-size: $font_xl;
        font-weight: 500;
    }

    h3 {
        font-size: $font_lg;
        font-weight: 500;
    }

    ul {
        padding-left: $pad5;
    }

    p,
    ul {
        font-weight: 300;
    }

    h2,
    h3,
    p,
    span,
    b,
    ul {
        margin-bottom: $pad4;
        line-height: 1.43;
    }

    li {
        list-style-type: disc;
        margin-bottom: $pad3;
    }

    :global(.top__header)p {
        text-align: center;
    }

    :global(.center) {
        text-align: center;
    }

    :global(.black) {
        color: #000;
    }

    a {
        color: inherit;
    }

    a:hover {
        color: #7db4b6;
        text-decoration: underline;
    }

    span {
        color: #91b2b4;
        font-weight: 500;
    }

    b {
        font-weight: 500;
    }

    section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: $pad5;
    }

    :global(.reverse) {
        flex-direction: column-reverse;
    }

    :global(.section__item) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    img {
        width: 100%;
    }

    :global(.footer) {
        margin-top: $pad10;
    }
}

@media all and (min-width: 640px) {
    .container {
        width: 540px;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 720px;

        section {
            flex-direction: row;
        }

        :global(.reverse) {
            flex-direction: row;
        }

        :global(.section__item) {
            width: 48%;
        }
    }
}

@media all and (min-width: 1024px) {
    .container { width: 960px }
}

@media all and (min-width: 1280px) {
    .container { width: 1140px }
}

/* Light */
@font-face {
    font-family: 'Helvetica';
    src:
        local('Helvetica'),
        url('../fonts/Helvetica-Light.ttf') format('truetype'),
        url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Helvetica';
    src:
        local('Helvetica'),
        url('../fonts/Helvetica-Regular.ttf') format('truetype'),
        url('../fonts/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Helvetica';
    src:
        local('Helvetica'),
        url('../fonts/Helvetica-Medium.ttf') format('truetype'),
        url('../fonts/Helvetica-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
