@import "~vars/pads";
@import "~vars/colors";
@import "~vars/screen";

.newsletter_title {
    margin-bottom: $pad8;
    padding-left: 0;
    width: 100%;
}

.input {
    height: 47px;
}

.email {
    margin-right: $pad5;
}

.button {
    z-index: 1;
    padding: 10px;

    width: max-content;

    transition: background-color 0.3s ease-in-out;

    border: 4px solid $white;
    background-color: rgba(0, 0, 0, 0);
    color: $white;
}

.button:focus,
.button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.subscribe {
    display: flex;
    flex-wrap: wrap;
}

@media all and (max-width: $screen_md) {
    .button {
        margin-top: $pad2;
    }

    .email {
        margin-right: 0;
    }
}
