@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/screen";

.nav {
    .nav__list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;

        .nav__item {
            padding: $pad2;

            .nav__itemText {
                font-size: $font_xs;
                color: $black;
                transition: color 0.3s ease-in-out;

                &:focus,
                &:hover {
                    color: $firm_blue;
                }

                &.selected {
                    color: $firm;
                }
            }
        }
    }
}

@media all and (max-width: $screen_md) {
    .nav {
        position: absolute;
        top: 80px;
        z-index: 0;

        .nav__list {
            display: block;

            .nav__item {
                .nav__itemText {
                    font-size: $font_md;
                    color: $firm;
                }
            }
        }
    }
}
