@import "~vars/screen";

.header {
    height: 100px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    .header__logo {
        width: 200px;
    }

    .header__nav {
        grid-column: 3;
    }
}

.header__mobile_menu {
    display: none;
}

@media all and (max-width: $screen_md) {
    .header {
        height: 80px;
        transition: 0.3s ease-in-out;

        &.active {
            margin-bottom: 210px;
        }
    }

    .header__nav {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .header__logo {
        width: 160px;
    }

    .header__mobile_menu {
        display: block;
    }
}
