@import "~vars/colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;

    // TODO
    min-height: 0;
    min-width: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

label {
    cursor: pointer;
}

.js-focus-visible .focus-visible:focus {
    outline: 2px solid $firm;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
}

.slick-list {
    position: relative;
}
