@import "~vars/pads";
@import "~vars/colors";

.social {
    margin-top: auto;
}

.social_item {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;

    border-radius: 50%;
    background-color: #fff;
}

.social_item:nth-child(n+2) {
    margin-left: 20px;
}