@import "~vars/pads";
@import "~vars/colors";
@import "~vars/screen";

.socialItem {
    display: flex;
    justify-content: center;
    position: relative;

    padding-bottom: 100%;

    border-radius: 50%;
    background-color: #fff;

    transition: 0.3s ease-in-out;

    .icon {
        position: absolute;

        top: 50%;
        transform: translateY(-50%);
    }

    &:hover,
    &:focus {
        background-color: $light_gray;
    }
}
