@import "~vars/pads";
@import "~vars/screen";

.heading {
    margin-bottom: $pad2;
    padding-left: $pad4;
}

.carousel {
    padding-bottom: $pad8;

    :global(.slick-slide) {
        padding: $pad4;
    }
}
