@import "~vars/pads";

.bestsellers {
    margin-top: $pad16;
}

.mainPage {
    padding: $pad16 initial;
}

.catalogBanner {
    margin-top: $pad16;
}

.tips {
    margin-top: $pad16;
}

.testimonials {
    margin-top: $pad16;
}
