@import "~vars/pads";
@import "~vars/screen";

.allTipsContainer {
    display: flex;
    justify-content: flex-end;

    margin-top: $pad3;

    .allTips {
        text-decoration: underline;
    }
}

.tip:nth-child(n+4) {
    margin-top: $pad6;
}

@media all and (max-width: $screen_md) {
    .tip:nth-child(n+2) {
        margin-top: $pad6;
    }
}
